* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
    ========================================
    Main
    ========================================
  */

.main {
  display: flex;
  width: 100%;
  height: 538px;
  justify-content: center;
  background-image: url(../img/main-body-image.jpg);
  background-position: 0 580px;
  background-size: 100%;
  cursor: pointer;
}

.ul-1 {
  display: flex;
  margin-top: 75px;
  background-image: url(../img/nav-bar-image.png);
  list-style: none;
  width: 980px;
  height: 36px;
  border-radius: 5px;
  align-items: center;
}

.ul-1 li {
  padding: 0 10px;
  text-decoration: none;
  width: 100px;
}

.ul-1 a {
  height: 36px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  border-right: 1px solid rgb(82, 82, 82);
  color: white;
  text-decoration: none;
}

.fab {
  font-size: 24px;
  color: rgb(214, 214, 214);
}

.fas {
  color: white;
  position: relative;
  right: 50px;
}

.search-input {
  width: 106px;
  height: 23px;
  background-color: transparent;
  margin-left: 30px;
  border-radius: 10px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.thumbnails a {
  display: flex;
  width: 1349px;
  height: 200px;
}

.thumbnails img {
  display: flex;
  width: 100%;
  height: 200px;
}

.body-text {
  position: absolute;
  margin: 180px 40px;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#body-text-p1 {
  font-size: 40px;
  margin: 20px 0;
}

.main-footer a {
  padding: 0 4px;
  color: hsl(200, 100%, 40%);
  text-decoration: none;
}

.ul-2 li {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  margin: 1px;
  list-style: none;
}

#body-text-p2 {
  font-size: 24px;
  margin: 20px 0;
  cursor: pointer;
}

#body-text-p2 a {
  margin-left: 55px;
}

/*
    ========================================
    Foooter
    ========================================
  */

.main-footer {
  display: flex;
  margin: auto;
  width: 1100px;
  height: 90px;
  flex-wrap: wrap;
}

.footer-1 {
  display: flex;
  width: 480px;
  height: 27px;
  font-size: 11px;
  line-height: 12px;
  color: hsl(0, 0%, 43%);
  align-items: flex-end;
}

.footer-2 {
  display: flex;
  width: 480px;
  height: 27px;
  font-size: 11px;
  color: hsl(0, 0%, 43%);
  align-items: flex-end;
}

.ul-2 {
  display: flex;
  justify-content: space-between;
  width: 540px;
  height: 27px;
  font-size: 11px;
  color: hsl(200, 100%, 40%);
}

.img-foooter {
  width: 20px;
  height: 20px;
}
